<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synchronize.eyedoor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dooricon"
        android:label="Tele-Port"
        android:roundIcon="@drawable/dooricon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyeDoor"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddDoorActivity"
            android:exported="false" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity android:name=".SignInHomeActivity" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".Notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>